<!DOCTYPE html>
<html>
<head>
  <title>Persona Boilerplate</title>
  <script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
  <script src="https://login.persona.org/include.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
  Server is running on <%= hostname %>:<%= port %>

  <h1>Status</h1>

  <a href="#" id="login"><img src="/img/persona_sign_in_blue.png" alt="Sign in with Persona"></a>
  <a href="#" id="logout">Logout</a>

  <div id="status"></div>

</body>
</html>
